<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/icons/clipboard-data.svg" type="image/svg+xml">
  <title>Typesense Dataimport LOGS</title>
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script src="https://alcdn.msauth.net/browser/2.20.0/js/msal-browser.min.js"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" rel="stylesheet">
  <style>
    #app{max-width: 650px !important;} .bg-grey{background: #999;}
    pre,span{font-size: 16px; line-height: 16px; overflow: hidden;} .small{font-size: 10px;} .timestamp{ width: 60px !important; min-width: 60px}
    @media (max-width: 768px) { pre,span{font-size: 11px; line-height: 11px} .prog-blk{height: 75px !important} .progress{flex:none}}
    .progress{height: 30px} .change-date{height: 40px;} .prog-blk{height: 40px}
    .progress-bar.bg-primary{ background-color: #3888ff !important } .progress.border-primary{ border-color: #3888ff !important }
    .progress-bar.bg-info{ background-color: #00a7c9 !important } .progress.border-info{ border-color: #00a7c9 !important }
    .progress-bar.bg-warning{ background-color: #c59400 !important } .progress.border-warning{ border-color: #c59400 !important }
  </style>
</head>
<body>
    <div id="app" class="mx-auto">
        <div v-if="!isAuthenticated" id="loginSection" class="d-flex flex-column py-5 text-center">
            <h1>Login to show Dataimport LOG</h1>
            <button @click="login" class="btn btn-primary btn-lg py-5 py-md-3 mx-3 col"><h1>Login</h1></button>
        </div>
        <div v-else>
            <div id="headerSection" class="d-flex align-items-center justify-content-between align-items-stretch text-center ps-1">
                <div class="d-flex flex-column mt-1">
                    <div class="d-flex mb-1">
                        <button v-show="showLogout<1" @click="showLogout++" class="btn btn-sm btn-secondary me-1"><i class="bi bi-box-arrow-left"></i></button>
                        <button v-show="showLogout==1" @click="logout" class="btn btn-danger btn-sm me-1">Logout</button>
                        <button @click="viewType.logs = !viewType.logs" class="btn btn-warning text-dark btn-sm">toggle view</button>
                    </div>
                    <div class="text-center">{{ user.email }}</div> 
                </div>
                <div v-if="typesenseStatus === 'OK'" id="typesenseHealthy" class="d-flex align-items-center h4 m-0 ms-1 px-3 text-white text-center" :class="{'bg-grey': isLoading, 'bg-success': !isLoading}">Typesense Healthy</div>
                <div v-else-if="typesenseStatus === 'DOWN'" id="typesenseDown" class="d-flex align-items-center h4 m-0 ms-1 px-3 text-white text-center" :class="{'bg-grey': isLoading, 'bg-danger': !isLoading}">Typesense DOWN</div>
            </div>
            <div id="logTitle" class="h3 m-0 p-2 pt-3 d-flex">
                <div class="col p-0"></div>
                <div class="col-auto p-0">Dataimport Live Log {{logDate.day}}.{{logDate.month}}.{{logDate.year}}</div>
                <div class="col d-flex justify-content-end mb-2 p-0">
                    <div :class="{'opacity-0': !isLoading}" class="spinner-border text-secondary" role="status"><span class="visually-hidden">Loading...</span></div>
                </div>
            </div>
            
            <div id="mainContent" class="px-1 px-md-2">                
                <div id="dateSelector" class="d-flex col mb-2 px-sm-5">
                    <button @click="changeDay(-1)" class="change-date btn btn-dark btn-sm col-auto p-0 px-2 me-1"><i class="bi bi-caret-left-fill fs-4 px-1 d-flex"></i></button>
                    <div class="col px-1">
                        <input type="number" v-model="logDate.day" @change="fetchLog" class="form-control fs-5 py-1" placeholder="Day" min="1" max="31">
                    </div>
                    <div class="col px-1">
                        <input type="number" v-model="logDate.month" @change="fetchLog" class="form-control fs-5 py-1" placeholder="Month" min="1" max="12">
                    </div>
                    <div class="col px-1">
                        <input type="number" v-model="logDate.year" @change="fetchLog" class="form-control fs-5 py-1" placeholder="Year" min="2000">
                    </div>
                    <button @click="changeDay(1)" class="change-date btn btn-dark btn-sm col-auto p-0 px-2 ms-1"><i class="bi bi-caret-right-fill fs-4 px-1 d-flex"></i></button>
                </div>

                <template id="progressSection" v-show="viewType.progress">
                    <!-- <pre>{{progress}}</pre> -->
                    <div v-if="importStatus ===1" id="importProgressBars" class="alert alert-success mb-2 px-3 py-2">
                        <div v-if="progress.organizations >= 0" class="d-flex flex-column flex-md-row prog-blk">
                            <h5 :class="{'text-success': progress.organizations == 100}" class="me-2 my-auto mb-1 mb-md-auto">{{progress.organizations == 100 ? 'Organizations: done importing!' : 'Organizations progress... ' + progress.organizations + '%'}}</h5>
                            <div class="progress col border border-primary mt-1 mt-md-auto my-auto">
                                <div :class="{'progress-bar-animated progress-bar-striped': progress.organizations < 100}" class="progress-bar text-start ps-2 fs-2 text-dark fw-bold bg-primary" :style="{width: progress.organizations + '%'}" ></div>
                            </div>
                        </div>
                        <div v-if="progress.roles >= 0" class="d-flex flex-column flex-md-row prog-blk">
                            <h5 :class="{'text-success': progress.roles == 100}" class="me-2 my-auto mb-1 mb-md-auto">{{progress.roles == 100 ? 'Roles: done importing!' : 'Roles progress... ' + progress.roles + '%'}}</h5>
                            <div class="progress col border border-info mt-1 mt-md-auto my-auto">
                                <div :class="{'progress-bar-animated progress-bar-striped': progress.roles < 100}" class="progress-bar text-start ps-2 fs-2 text-dark fw-bold bg-info" :style="{width: progress.roles + '%'}" ></div>
                            </div>
                        </div>
                        <div v-if="progress.inactive_roles >= 0" class="d-flex flex-column flex-md-row prog-blk">
                            <h5 :class="{'text-success': progress.inactive_roles == 100}" class="me-2 my-auto mb-1 mb-md-auto">{{progress.inactive_roles == 100 ? 'Inactive_roles: done importing!' : 'Inactive_roles progress... ' + progress.inactive_roles + '%'}}</h5>
                            <div class="progress col border border-warning mt-1 mt-md-auto my-auto">
                                <div :class="{'progress-bar-animated progress-bar-striped': progress.inactive_roles < 100}" class="progress-bar text-start ps-2 fs-2 text-dark fw-bold bg-warning" :style="{width: progress.inactive_roles + '%'}" ></div>
                            </div>
                        </div>
                    </div>

                    <h5 v-if="importStatus === -1" id="errorMessage" class="alert alert-danger mb-2">Error Detected During Import!</h5>
                    <h5 v-if="importStatus === 0 && !fileNotFound" id="noImportMessage" class="alert alert-info mb-2">No Data Import Detected.</h5>
                    <h5 v-if="fileNotFound" id="fileNotFoundMessage" class="alert alert-secondary mb-2">No log file for this date.</h5>
                </template>
                
                <div v-if="logContent" v-show="viewType.logs" id="logTextLines" class="overflow-x-scroll">
                    <div v-for="(entry, index) in formattedLogEntries" :key="index" class="d-flex align-items-center">
                        <span v-if="entry.timestamp" class="timestamp small text-primary text-nowrap p-0">{{ entry.timestamp }}</span>
                        <pre class="m-0 p-0 col-auto"><span>{{ entry.data }}</span></pre>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="app.js"></script>
</body>
</html>
